/gomez_poser_ui.py~
/fit_curve.py~
/__init__.py~
/developer_utils.py~
/__pycache__/
/fit/.emacs.desktop
/tests/__pycache__/
*.pyc
fit_curve.cpython-37.pyc
/fit/.ipynb_checkpoints/
/gp_armature_applier.py~
/gp_auxiliary_objects.py~
/gp_custom_props.py~
/gp_resampling_ops.py~
/gp_rigging_ops.py~
/#gomez_poser_ui.py#
/gp_curve_baker.py~
